{% extends 'base.html' %}
{% load static %}
{% block title %} Exam Result {% endblock %}
{% block body %}
{% if exam.ended %}
<meta http-equiv="refresh" content=".001; url='/exam/questionPaper/{{exam.quesSet.pk}}'" />
{% endif %}
<div class=" container-fluid" style="width: 80%;margin-top: 1rem;">
    <h3 class="text-center" style="color:teal">{{exam.name}}</h3>
    <hr>
    <div class="card container-fluid shadow" style="width: 80%;">
        <hr>
        <p class="text-center" style="color:red">Complexity: {{exam.quesSet.quesSetComplexity}}%</p>
        <p class="text-center">Start Time: {{exam.startTime}}<br>
            Duration: {{exam.duration}} Minutes<br>
            End Time: {{exam.endTime}} Minutes</p>



        <div class="card-body text-center">
            <b>Total Registration: {{exam.totalReg}}</b>
            <p>{{exam.description}}</p><br>
            <b>Student Name: {{student.username}}</b><br>
            <b>Obtained Mark: {{result.obtainedMark}}</b><br>
            {% if result.status == 'Passed' %}
            <b style="color:green">Status: {{result.status}}</b>
            {% else %}
            <b style="color:red">Status: {{result.status}}</b>
            {% endif %}

        </div>
    </div>
    <hr>
</div>
{% endblock %}